.small-caps {
  font-variant: small-caps;
}
.modal-open {
    overflow: scroll;
}
.extra-vertical {
  margin-top: 2em;
}
.well > .well-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #959595;
  font-family: sans-serif;
  font-size: 0.75em;
}
/* CSS hack to hold proprtions of unloaded image */
.image-placeholder-inner {
  padding-bottom: 57.14285714285714%;
  background:#EEE;
  height:0;
  position:relative;
}
.image-placeholder {
    width:100%;
    height:100%;
    display:block;
    position:absolute;
}
/* make bootstrap's <pre> look like its <code> */
pre.code {
    padding: 20px;
    font-size: 0.8em;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
