<!-- Portfolio Item Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">WonderfulWorld <small>a project by Petro Podrezo</small></h1>
  </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-8">
    <img class="img-responsive" ng-src="/wonderfulworld/img/about.jpg" alt="A picture of me sitting around while watching the Italian alps.">
    <p><small><strong>Above:</strong> Me enjoying the view at Monte Baldo (the Italian Alps).</small></p>
  </div>

  <div class="col-md-4">
    <h3>About</h3>
    <p>As a frequenter of the <a href="http://reddit.com/r/travel" target="_blank">travel subreddit</a>, an avid traveller and a history buff, I often saw people's beautiful photos of faraway exotic lands and saved them for viewing later and sharing with friends. "WonderfulWorld" started because I kept saving
      links to these fantastic photos until the list grew too big and unmanagable. I thought it would be awesome to have a little lightweight website that features the best of these photos as a means of providing travel inspiration for myself and others. This website is the result, I hope you enjoy using it!</p>
    <p>This website is open-source, view the code on <a href="https://github.com/podrezo/wonderfulworld" target="_blank">github</a>.</p>
  </div>

</div>
<!-- /.row -->

<hr/>

<!-- Page Quote -->
<div class="row">
  <blockquote>
    <p>
      &ldquo;I see trees of green, red roses, too,<br/>
      I see them bloom, for me and you<br/>
      And I think to myself<br/>
      What a wonderful world. &rdquo;
    </p>
    <footer style="margin: inherit;"> Louis Armstrong in <cite title="Source Title">Wonderful World</cite></footer>
  </blockquote>
</div>
<!-- /.row -->
