<!-- Filters -->
<div location-filter country-select="countrySelect(countryCode)"></div>
<!-- /.row -->

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <uib-pagination boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row" ng-repeat="row in places">
  <div class="col-md-3 portfolio-item" ng-repeat="place in row">
    <div image-with-placeholder sref-route-name="place" sref-route-params="{id:place.id}" image-path="/wonderfulworld/img/places/{{place.properties.image}}" alt-text="{{place.properties.name}}"></div>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <uib-pagination boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>
<!-- /.row -->
