<!-- Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header small-caps">{{place.properties.name}} <small>{{place.properties.country}}</small></h1>
  </div>
</div>
<!-- /.row -->

<!-- Overview and image -->
<div class="row">

  <div class="col-md-8">
    <img class="img-responsive" ng-src="/wonderfulworld/img/places/{{image}}" alt="{{place.properties.name}}">
  </div>

  <div class="col-md-4">
    <p>{{place.properties.description}} <em ng-show="place.properties.contributedBy">Contributed by {{place.properties.contributedBy}}.</em></p>
    <p><span ng-repeat="tag in place.properties.tags"><span class="label label-default">{{tag}}</span> </span></p>
  </div>

</div>
<!-- /.row -->

<!-- Additional images -->
<div class="row" ng-show="place.properties.image.length > 1">
  <div class="col-lg-12">
    <h3 class="page-header">Additional Images (click to view)</h3>
  </div>
  <div class="col-md-3 portfolio-item" ng-repeat="image in place.properties.image">
    <a class="thumbnail" ng-click="showImage(image)">
      <div class="image-placeholder-inner">
        <img class="img-responsive image-placeholder" ng-src="/wonderfulworld/img/places/{{image}}" alt="{{image}}">
      </div>
    </a>
  </div>
</div>
<!-- /.row -->

<!-- Map Row -->
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Map <small>({{friendlyLat}}, {{friendlyLon}})</small></h3>
  </div>

  <div class="col-lg-12" id="map" style="height: 20em;"></div>
  <div class="col-lg-12">
    <p><small>Satellite imagery courtesy of <a href="http://earthobservatory.nasa.gov/Features/BlueMarble/" target="_blank">NASA's Blue Marble initiative</a>.</small></p>
  </div>
</div>
<!-- /.row -->

<!-- Details -->
<div class="row extra-vertical text-center">
  <a class="btn btn-default" target="_blank" ng-href="/wonderfulworld/db/{{place.properties.name}}.geojson"><span class="glyphicon glyphicon-save"></span> Download as GeoJSON Object</a>
  <a class="btn btn-default" target="_blank" ng-href="{{place.properties.link}}"><span class="glyphicon glyphicon-link"></span> More info at {{place.properties.link | cut:true:25}}</a>
  <a class="btn btn-primary" target="_blank" ng-href="http://www.google.com/maps/place/{{place.geometry.coordinates[1]}},{{place.geometry.coordinates[0]}}"><span class="glyphicon glyphicon-map-marker"></span> Show on Google Maps</a>
</div>
<!-- /.row -->

<!-- Similar Places Row -->
<div class="row" ng-show="similarPlaces.length > 0">

  <div class="col-lg-12">
    <h3 class="page-header">Similar Places</h3>
  </div>

  <div class="col-sm-3 col-xs-6" ng-repeat="similarPlace in similarPlaces">
    <a href="#/place/{{similarPlace.id}}">
      <img class="img-responsive portfolio-item" ng-src="/wonderfulworld/img/places/{{similarPlace.properties.image[0]}}" alt="{{similarPlace.properties.name}}">
    </a>
  </div>


</div>
<!-- /.row -->
