<!-- Portfolio Item Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{place.name}} <small>{{place.country}}</small></h1>
  </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-8">
    <img class="img-responsive" ng-src="/wonderfulworld/img/places/{{place.image}}" alt="{{place.name}}">
  </div>

  <div class="col-md-4">
    <h3>Description</h3>
    <p>{{place.description}}</p>
    <h3>Tags</h3>
    <ul>
      <li ng-repeat="tag in place.tags">{{tag}}</li>
    </ul>
  </div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<div class="row">

  <div class="col-lg-12">
    <h3 class="page-header">Similar Places</h3>
  </div>

  <div class="col-sm-3 col-xs-6" ng-repeat="similarPlace in similarPlaces">
    <a href="#/place/{{similarPlace.id}}">
      <img class="img-responsive portfolio-item" ng-src="/wonderfulworld/img/places/{{similarPlace.image}}" alt="{{similarPlace.name}}">
    </a>
  </div>


</div>
<!-- /.row -->
