<!-- Portfolio Item Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{place.properties.name}} <small>{{place.meta.country}}</small></h1>
  </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-8">
    <img class="img-responsive" ng-src="/wonderfulworld/img/places/{{place.meta.image}}" alt="{{place.properties.name}}">
  </div>

  <div class="col-md-4">
    <h3>Description</h3>
    <p>{{place.meta.description}}</p>
    <h3>Tags</h3>
    <ul>
      <li ng-repeat="tag in place.meta.tags">{{tag}}</li>
    </ul>
    <p>
      <a class="btn btn-primary" target="_blank" ng-href="http://www.google.com/maps/place/{{place.geometry.coordinates[1]}},{{place.geometry.coordinates[0]}}">Show on Google Maps</a>
    </p>
  </div>

</div>
<!-- /.row -->

<!-- Map Row -->
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Map <small>({{friendlyLat}}, {{friendlyLon}})</small></h3>
  </div>

  <div class="col-lg-12" id="map"></div>
  <div class="col-lg-12">
    <p><small>Satellite imagery courtesy of <a href="http://earthobservatory.nasa.gov/Features/BlueMarble/" target="_blank">NASA's Blue Marble initiative</a>.</small></p>
  </div>
</div>
<!-- /.row -->

<!-- Similar Places Row -->
<div class="row" ng-show="similarPlaces.length > 0">

  <div class="col-lg-12">
    <h3 class="page-header">Similar Places</h3>
  </div>

  <div class="col-sm-3 col-xs-6" ng-repeat="similarPlace in similarPlaces">
    <a href="#/place/{{similarPlace.id}}">
      <img class="img-responsive portfolio-item" ng-src="/wonderfulworld/img/places/{{similarPlace.meta.image}}" alt="{{similarPlace.properties.name}}">
    </a>
  </div>


</div>
<!-- /.row -->
