<!-- Filters -->
<div location-filter country-select="countrySelect(countryCode)"></div>
<!-- /.row -->

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <uib-pagination boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row" ng-repeat="row in places">
  <div class="col-md-4 portfolio-item" ng-repeat="place in row">
    <div image-with-placeholder sref-route-name="place" sref-route-params="{id:place.id}" image-path="/wonderfulworld/img/places/{{place.properties.image}}" alt-text="{{place.properties.name}}"></div>
    <h3 class="small-caps">
      <span flag country-code="place.properties.countryCode" size="24"></span> <a ui-sref="place({id:place.id})">{{place.properties.name}}</a>
    </h3>
    <p>{{place.properties.description | cut:true:100}}</p>
    <p><span ng-repeat="tag in place.properties.tags"><span class="label label-default">{{tag}}</span> </span></p>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <uib-pagination boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>
<!-- /.row -->
